################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.sqlite
/Main/StackWalker/_ReSharper.Caches/*
/.vs/*
